<!DOCTYPE html>

<html ng-app="homepage">
	<head>
		<meta charset="utf8"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/social_media.js"></script>
		<script src="js/controllers/code.js"></script>
		<script src="js/controllers/linux.js"></script>
		<title>Homepage</title>
	</head>
	<body>
		<div class="header-wrapper">
			<div class="header">
				<h1>homepage</h1>
			</div>
			<form method="get" action="https://www.google.com/search">
				<input class="text" placeholder="Google search" type="text" name="q"/>
				<button class="btn" type="submit"/>Search <span class="fa fa-search"></span></button>
			</form>
		</div>
		<div class="light-bar">
		</div>
		<!-- websites -->
		<div class="content-wrapper">
			<ul class="content-block">
				<li class="content" ng-controller="social_media">
					<div class="content-img">
						<span class="fa fa-twitter"></span>
					</div>
					<ul class="content-list">
						<li class="content-website" ng-repeat="web in sites"><a ng-href="{{web.link}}" target="_blank"><span ng-bind="web.name"></span></a></li>
					</ul>
				</li>
				<li class="content" ng-controller="code">
					<div class="content-img">
						<span class="fa fa-android"></span>
					</div>
					<ul class="content-list">
						<li class="content-website" ng-repeat="web in sites"><a ng-href="{{web.link}}" target="_blank"><span ng-bind="web.name"></span></a></li>
					</ul>
				</li>
				<li class="content" ng-controller="linux">
					<div class="content-img">
						<span class="fa fa-linux"></span>
					</div>
					<ul class="content-list">
						<li class="content-website" ng-repeat="web in sites"><a ng-href="{{web.link}}" target="_blank"><span ng-bind="web.name"></span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>
